/target
**/target

.idea
**path_lookup.json
**Cargo.lock
**.env**
**node_modules/

# Environment Variables
**.env
**.env.prod

# Cached Build
**cache/
**out/

# Vscode
**.vscode/

# huffc artifacts
**artifacts

# Ignore flattened files
**flattened.txt

# Ignore Broadcasts
**broadcast

# solidity
**/**/lib
**/**/out
**/**/cache
**/**/script